/* 1. @Font-Face Ñ load my google fonts... */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,300,600");
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,400italic,700italic");

body, .opensans {font-family: 'Open Sans', Helvetica, Arial, sans-serif; }
.gentium { font-family: 'Gentium Book Basic', Georgia, serif; }

/* END @Font-Face */


/* 2. General Layout / Design Stuff */
/* =================================================================== */
/* =================================================================== */

/* Color Palette */
/*
pink          rgba(236,64,121,1)
brown         rgba(47,41,38,1)
gray          rgba(132,132,120,1)
dark gray     rgba(96,103,103,1)
light gray    rgba(194,211,186,1)

red           rgba(183,80,81,1)
orange        rgba(195,115,99,1)
yellow        rgba(197,192,101,1)
green         rgba(140,165,115,1)
blue          rgba(157,178,176,1)
purple        rgba(174,139,164,1)
*/

* {}

html {
  background: rgba(140,165,115,1);
  color: rgba(47,41,38,1) !important;
  min-height: 101%;
  /**/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background: rgba(132,132,120,1);
  border: 2px solid rgba(197,192,101,1);
  color: rgba(47,41,38,1) !important;
  margin: 20px;
  min-height: 101% !important;
  padding: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  margin-top: 72px;
}

#main {}

footer {
  border-top: 6px solid rgba(47,41,38,1); 
  margin-top: 72px;
  margin-bottom: 72px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nm {margin-left: 0;}


/* 3. TYPOGRAPHY */
/* =================================================================== */
/* =================================================================== */
.leftside {text-align: right;}
.rightside {text-align: left;}

header h1 {
  display: block;
  font-size: 72px;
  letter-spacing: 5px;
  line-height: 72px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 36px 0;
  padding: 0;
}

header article.description {
  font-size: 200%;
  line-height: 1.5;
}



/* 4. Slideshow Styles */
/* =================================================================== */
/* =================================================================== */

#main {min-height: 620px; }

.ss, .slideshow         { min-height: 620px;}
.home .placeholder      { height: 600px; overflow: hidden; }
.placeholder.red        { background: rgba(183,80,81,1); }
.placeholder.orange     { background: rgba(195,115,99,1); }
.placeholder.yellow     { background: rgba(197,192,101,1); }
.placeholder.green      { background: rgba(140,165,115,1); }
.placeholder.blue       { background: rgba(157,178,176,1); }
.placeholder.purple     { background: rgba(174,139,164,1); }
.placeholder.gray       { background: rgba(132,132,120,1); }
.placeholder.span10.nm  { margin: 0;}

.ssnav a {
  display: block;
  font-size: 100px;
  line-height: 100px;
  position: relative;
  text-align: center;
  z-index: 889;
}

#pager {
  margin: 0 0 15px 0;
  position: relative;
  text-align: center;
  z-index: 9;
  width: 100%;
}

#pager a {
  background: rgba(96,103,103,1);
  border: none;
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  width: 20px;
  text-indent: -9999999px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}

#pager a.activeSlide { background: rgba(47,41,38,1); }
#pager a:hover { background: rgba(140,165,115,1); }




/* 5. Aphorism Styles */
/* =================================================================== */
/* =================================================================== */




/* 6. Links and More */
/* =================================================================== */
/* =================================================================== */

a {
  color: rgba(47,41,38,1);
  text-decoration: none;
  background: rgba(132,132,120,.1);
  border-bottom: 1px solid rgba(140,165,115,1);
  padding: 1px 2px 1px 2px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
}

a:hover { 
  background: rgba(140,165,115,1);
  color: white;
  text-decoration: none;
  }

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

::selection {
  background: rgba(140,165,115,1);
  color: white;
  text-shadow: none;
}




