/********* color modules **********/
.bg-pink               { background-color: rgba(236,064,121,1); }
.bg-brown              { background-color: rgba(047,041,038,1); }
.bg-gray               { background-color: rgba(132,132,120,1); }
.bg-darkgray           { background-color: rgba(096,103,103,1); }
.bg-lightgray          { background-color: rgba(194,211,186,1); }
.bg-red                { background-color: rgba(183,080,081,1); }
.bg-orange             { background-color: rgba(195,115,099,1); }
.bg-yellow             { background-color: rgba(197,192,101,1); }
.bg-green              { background-color: rgba(140,165,115,1); }
.bg-blue               { background-color: rgba(157,178,176,1); }
.bg-purple             { background-color: rgba(174,139,164,1); }
.bg-black              { background-color: rgba(000,000,000,1); }
.bg-white              { background-color: rgba(255,255,255,1); }
.bg-trans              { background: transparent; }

.bg-pink-hover:hover        { background-color: rgba(236,064,121,1); }
.bg-brown-hover:hover       { background-color: rgba(047,041,038,1); }
.bg-gray-hover:hover        { background-color: rgba(132,132,120,1); }
.bg-darkgray-hover:hover    { background-color: rgba(096,103,103,1); }
.bg-lightgray-hover:hover   { background-color: rgba(194,211,186,1); }
.bg-red-hover:hover         { background-color: rgba(183,080,081,1); }
.bg-orange-hover:hover      { background-color: rgba(195,115,099,1); }
.bg-yellow-hover:hover      { background-color: rgba(197,192,101,1); }
.bg-green-hover:hover       { background-color: rgba(140,165,115,1); }
.bg-blue-hover:hover        { background-color: rgba(157,178,176,1); }
.bg-purple-hover:hover      { background-color: rgba(174,139,164,1); }
.bg-black-hover:hover       { background-color: rgba(000,000,000,1); }
.bg-white-hover:hover       { background-color: rgba(255,255,255,1); }
.bg-trans:hover             { background-image: none; }

.pink                  { color: rgba(236,064,121,1); }
.brown                 { color: rgba(047,041,038,1); }
.gray                  { color: rgba(132,132,120,1); }
.darkgray              { color: rgba(096,103,103,1); }
.lightgray             { color: rgba(194,211,186,1); }
.red                   { color: rgba(183,080,081,1); }
.orange                { color: rgba(195,115,099,1); }
.yellow                { color: rgba(197,192,101,1); }
.green                 { color: rgba(140,165,115,1); }
.blue                  { color: rgba(157,178,176,1); }
.purple                { color: rgba(174,139,164,1); }
.black                 { color: rgba(000,000,000,1); }
.white                 { color: rgba(255,255,255,1); }

.pink-hover:hover                  { color: rgba(236,064,121,1); }
.brown-hover:hover                 { color: rgba(047,041,038,1); }
.gray-hover:hover                  { color: rgba(132,132,120,1); }
.darkgray-hover:hover              { color: rgba(096,103,103,1); }
.lightgray-hover:hover             { color: rgba(194,211,186,1); }
.red-hover:hover                   { color: rgba(183,080,081,1); }
.orange-hover:hover                { color: rgba(195,115,099,1); }
.yellow-hover:hover                { color: rgba(197,192,101,1); }
.green-hover:hover                 { color: rgba(140,165,115,1); }
.blue-hover:hover                  { color: rgba(157,178,176,1); }
.purple-hover:hover                { color: rgba(174,139,164,1); }
.black-hover:hover                 { color: rgba(000,000,000,1); }
.white-hover:hover                 { color: rgba(255,255,255,1); }

.border-pink           { border-color: rgba(236,064,121,1); }
.border-brown          { border-color: rgba(047,041,038,1); }
.border-gray           { border-color: rgba(132,132,120,1); }
.border-darkgray       { border-color: rgba(096,103,103,1); }
.border-lightgray      { border-color: rgba(194,211,186,1); }
.border-red            { border-color: rgba(183,080,081,1); }
.border-orange         { border-color: rgba(195,115,099,1); }
.border-yellow         { border-color: rgba(197,192,101,1); }
.border-green          { border-color: rgba(140,165,115,1); }
.border-blue           { border-color: rgba(157,178,176,1); }
.border-purple         { border-color: rgba(174,139,164,1); }
.border-black          { border-color: rgba(000,000,000,1); }
.border-white          { border-color: rgba(255,255,255,1); }

.border-pink-hover:hover           { border-color: rgba(236,064,121,1); }
.border-brown-hover:hover          { border-color: rgba(047,041,038,1); }
.border-gray-hover:hover           { border-color: rgba(132,132,120,1); }
.border-darkgray-hover:hover       { border-color: rgba(096,103,103,1); }
.border-lightgray-hover:hover      { border-color: rgba(194,211,186,1); }
.border-red-hover:hover            { border-color: rgba(183,080,081,1); }
.border-orange-hover:hover         { border-color: rgba(195,115,099,1); }
.border-yellow-hover:hover         { border-color: rgba(197,192,101,1); }
.border-green-hover:hover          { border-color: rgba(140,165,115,1); }
.border-blue-hover:hover           { border-color: rgba(157,178,176,1); }
.border-purple-hover:hover         { border-color: rgba(174,139,164,1); }
.border-black-hover:hover          { border-color: rgba(000,000,000,1); }
.border-white-hover:hover          { border-color: rgba(255,255,255,1); }

[class*="-hover"], button { transition: all 400ms; }
